<h1>
  All products
</h1>

<a href="/products/new">
  Add a new product
</a>

<hr>








<table class="table">
  <tr>

    <th>
      Brand
    </th>

    <th>
      Item
    </th>

    <th>
      Shade
    </th>
  
    <th>
    </th>

    <th>
    </th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    
    <td>
      <%= product.brand %>
    </td>

    <td>
      <%= product.item %>
    </td>

    <td>
      <%= product.shade %>
    </td>
    
    <td>
      <%if Like.exists?({ :user_id => current_user.id, :product_id => product.id}) %> 
                  <div>
                  <a href="/delete_like/<%= Like.where({ :user_id => current_user.id, :product_id => product.id}).first.id %>">
                      <i class="fas fa-trash"></i> Remove from Wishlist
                  </a>
                  </div>
              <% else %> 
                  <div>
                  <form action="/create_like" method="post">
                      <input type="hidden" name="user_id" value="<%= current_user.id %>">
                      <input type="hidden" name="product_id" value="<%= product.id %>">
                    <button type="submit" class="btn btn-link btn-sm"><i class="far fa-heart"></i> Add to Wishlist</button>
                  </form>
                  </div>
              <%end%>
    </td>
    

    <td>
      <a href="/products/<%= product.id %>">
        View Swatches
      </a>
    </td>
  </tr>
  <% end %>
</table>
