<h1>
  All products
</h1>

<a href="/products/new">
  Add a new product
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Brand
    </th>

    <th>
      Item
    </th>

    <th>
      Shade
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    <td>
      <%= product.id %>
    </td>

    <td>
      <%= product.brand %>
    </td>

    <td>
      <%= product.item %>
    </td>

    <td>
      <%= product.shade %>
    </td>

    <td>
      <%= time_ago_in_words(product.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(product.updated_at) %> ago
    </td>

    <td>
      <a href="/products/<%= product.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
